---
layout: default
title: Home
---
<div class="introduction">
  <h1>最新状态</h1>

<p>...</p>
</div>

<hr>

<div class="toc">
  <h2>所有文章</h2>
  <ul class="post">
  {% assign posts = site.posts | sort:'date' | reverse | sort:'prior' | reverse %}
  {% for item in posts do %}
    <li class="post-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
      {% if item.prior and item.prior > 0 %}
          [置顶]{{ item.title }}
      {% else %}
          {{ item.title }}
      {% endif %}
      </a>
    </li>
  {% endfor %}
  </ul>  

</div>



