---
layout: default
title: Home
---
<div class="introduction">
  <h1>最新状态</h1>

<p>...</p>
</div>

<hr>

<div class="toc">
  <h2>所有文章</h2>
  <ul class="post">
  {% for item in site.posts do %}
    {% if item.prior and item.prior > 0 %}
    <li class="post-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        [置顶]{{ item.title }}
      </a>
    </li>
    {% endif %}
  {% endfor %}
  {% for item in posts do %}
    {% if item.prior and item.prior > 0 %}
    {% else %}
      <li class="post-title">
        <a href="{{ site.baseurl }}{{ item.url }}">
            {{ item.title }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
  </ul>  

</div>



